@media (max-width: 1700px) {
	.events {
		.slider-item {
			width: 100%;
			height: 300px;
			.slider {
				width: 300px;
				height: auto;
				border-radius: 60px;
			}
		}
	}

	.aboutus {
		aside {
			width: 85%;
			main {
				img {
					transform: scale(0.9);
				}
				p {
					width: 650px;
				}
			}
			nav {
				section {
					div {
						transform: scale(0.95);
					}
				}
				p {
					width: 620px;
				}
			}
		}
	}
}
@media (max-width: 1600px) {
	.custom-arrow {
		display: none;
	}
	.slider-item {
		width: 100%;
	}
	.aboutus {
		aside {
			width: 90%;
			main {
				img {
					transform: scale(0.9);
				}
				p {
					width: 600px;
				}
			}
		}
	}
}
@media (max-width: 1440px) {
	.home {
		div {
			h1 {
				font-size: 250px;
			}
		}
	}
	.aboutus {
		gap: 50px;
		aside {
			main {
				width: 100%;
				gap: 20px;
				padding-bottom: 40px;
				img {
					width: 80%;
					height: 600px;
				}
				p {
					width: 90%;
				}
			}
			nav {
				width: 100%;
				section {
					display: flex;
                    align-items: center;
					justify-content: center;
					div {
						width: 80%;
					}
					img {
						width: 80%;
						height: 250px !important;
					}
					P {
						width: 1000px;
					}
                    .footer-images{
                        img{

                            margin-left: 110px;
                            
                        }
                        
                    }
				}
			}
		}
	}
    .ourrobot{
        p{
            text-align:justify;
        }
        aside{
            justify-content: center;
                flex-wrap: wrap;
            .robotSideBar{
                div{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 1366px) {
	.home {
		div {
			h1 {
				font-size: 220px;
			}
		}
	}
	.aboutus {
		gap: 50px;
		aside {
			main {
				width: 100%;
				gap: 20px;
				padding-bottom: 40px;
				img {
					width: 90%;
					height: 550px;
				}
				p {
					width: 90%;
				}
			}
			nav {
				width: 100%;
				img {
					width: 48%;
					height: 250px !important;
				}
				P {
					width: 1000px;
				}
			}
		}
	}
	.ourteam {
		article {
			width: 80%;
		}
	}
    
    
}
@media (max-width: 1260px) {
	h1 {
		font-size: 120px;
	}
	.aboutus {
		.background {
			transform: scale(0.8);
		}
		gap: 50px;
		aside {
			main {
				width: 100%;
				gap: 20px;
				padding-bottom: 40px;
				img {
					width: 90%;
					height: 560px;
				}
				p {
					width: 90%;
				}
			}
			nav {
				width: 100%;
				img {
					width: 48%;
					height: 220px !important;
				}
				P {
					width: 1000px;
				}
			}
		}
            
	}
    .location{
                margin-top: -55px;
            }
    .events{
        .overlay{
            main{
                width: 700px;
                h1{
                    font-size: 40px;
                }
                article{
                    width: 600px;
                    aside{
                        p{
                        font-size: 20px;
                        }
                        img{
                            height: 220px;
                        }
                    }
                    h1{
                        font-size: 50px;
                        text-align: center;
                    }
                    p{
                        width: 600px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    footer{
        justify-content: center;
        align-items: center;
        gap: 40px;
        article{
            width: 70%;
            h2{
                text-align: center;
            }
        }
        aside{
            gap: 20px;
        }
    }
}
@media (max-width: 1024px) {
	h1 {
		font-size: 110px;
	}
	.home {
		div {
			h1 {
				font-size: 180px;
			}
		}
	}
    .eventspage{
        .event-title{
            font-size: 50px;
        }
        article{
            div{
    width: 450px;
      flex-wrap: wrap;
      padding-bottom: 40px;
            }
            .normal{
      p{
        max-width: 500px;
      }
    }
    .reverse{
      p{
        max-width: 500px;
      }
    }
        }
    }
	.events {
		.slider-item {
			width: 100%;
			height: 250px;
			.slider {
				width: 250px;
				height: auto;
				border-radius: 60px;
			}
		}
	}
	.aboutus {
		gap: 50px;
		aside {
			main {
				width: 100%;
				gap: 20px;
				padding-bottom: 40px;
				img {
					width: 90%;
					height: 450px;
				}
				p {
					width: 90%;
				}
			}
			nav {
				width: 100%;
				img {
					width: 48%;
					height: 200px !important;
				}
				P {
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: 900px) {
	.home {
		div {
			h1 {
				font-size: 150px;
			}
		}
	}
    .location{
  margin-top: -110px;
}
.ourrobot{
        article{
            h1{
                font-size: 90px;
            }
        }
    }
}
@media (max-width: 768px) {
    .aboutus{
        gap: -100px !important;
    }
	.header {
		padding: 10px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: rgba(25, 29, 40, 1);
        .burger{
            display: block;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 60%;
            button{
                background-color: transparent;
                border: none;
                height: 30px;
            }
            .drawer.open {
	            right: 0; 
                 }    
            .drawer{

                top: 0;
                right: -100%;
                position: fixed;
                width: 228px;
                height: 330px;
                border-top-width: 0px;
                border-right-width: 0px;
                border-bottom-width: 1px;
                border-left-width: 1px;
                background: #191D28;
                border-width: 0px, 0px, 1px, 1px;
                border-style: solid;
                border-color: #DBAE46;
                box-shadow: 0px 4px 4px 0px #00000040;
                z-index: 999;
                transition: right 0.4s ease-in-out;
                   
                article{
                    position: relative;
                    width: 100%;
                    height: 120px;
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    button{
                        position: absolute;
                        right: 15px;
                        bottom:50px;
                    }
                }
                .burger-list{
                    display: flex;
                    flex-direction: column;
                    border-top: 1px;
                    a{
                        font-size: 22px;
					text-decoration: none;
                    }
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        border-top: 1px solid #DBAE46;
                    }
                }
            }
        }
		.nav {
				display: none;
			.list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 15px;
				font-weight: 350;
				gap: 40px;

				a {
					text-decoration: none;
				}

				img {
					height: calc(97px / 1.8);
					width: calc(75px / 1.8);
				}

				a:hover {
					transition: 0.2s;
					color: rgba(219, 174, 70, 1);
				}
			}
		}
	}

    h1{
        font-size: 80px;
    }
    .home{
        div{

            h1{
                font-size:100px
            }
        }
    }
    .events {
        gap:50px;
        .slider-item{
            width: 100%;
            height: 100%;
            .slider{
                transform: scale(0.9);
                width: 270px  !important;
            }
        }
    }
    .ourteam{
        article{
            width: 100%;
        }
    }
    .background{
        display: none;
    }

	h1 {
		font-size: 80px;
	}
	.home {
		div {
			h1 {
				font-size: 100px;
			}
		}
	}
	.events {
		gap: 50px;
		.slider-item {
			width: 100%;
			height: 100%;
			.slider {
				transform: scale(0.7);
				width: 180px;
			}
		}
	}
	.ourteam {
		overflow: hidden;
		padding: 40px 0px 80px 0px;
		position: relative;
		overflow-x: hidden;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 55px;
		align-items: center;
		background: rgba(25, 29, 40, 1);
		.background {
			position: absolute;
		}
		h1 {
			margin-bottom: 30px;
			width: 100vw;
			text-align: center;
		}

		article,
		main,
		button {
			opacity: 0;
			transition: 1.2s;
		}
		.show {
			transform: translateX(0px);
			opacity: 1;
		}
		article {
			transform: translateX(100px);
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				margin-top: 10px;
				font-family: Inter;
				font-size: 28px;
				font-weight: 300;
				line-height: 33.89px;
				text-align: justify;
				text-underline-position: from-font;
				text-decoration-skip-ink: none;
			}
		}
		main {
			transform: translateX(-100px);
			display: flex;
			gap: 55px;
			div {
				p {
					margin-left: 5px;
					font-size: 36px;
					font-weight: 300;
				}
				span {
					margin-left: 5px;
					font-size: 27px;
					font-weight: 400;
					color: rgba(255, 199, 27, 1);
				}
			}
		}
		button {
			width: 280px;
			height: 60px;
			font-size: 25px;
			transform: translateX(-100px);
		}
	}
	.background {
		display: none;
	}
    .eventspage{
        .event-title{
            font-size: 40px;
        }
    }
    .events{
        .overlay{
            main{
                width: 600px;
                h1{
                    font-size: 40px;
                }
                article{
                    width: 500px;
                    aside{
                        p{
                        font-size: 20px;
                        display: block;
                        }
                        img{
                            height: 220px;
                        }
                    }
                    h1{
                        font-size: 50px;
                        text-align: center;
                    }
                    p{
                        width: 600px;
                        font-size: 20px;
                        display: none;
                    }
                }
                button{
                    width: 250px;
                    height: 75px;
                    font-size: 25px;
                }
            }
        }
    }
    .ourrobot{
        article{
            h1{
                font-size: 100px;
            }
        }
    }
}

@media (max-width: 750px) {
	.events {
		gap: 30px;

		.slider-container {
			.slider {
				gap: 20px;
				width: 290px;

				.slider-item {
					width: 100%;
				}
			}
		}
	}
	.aboutus {
		overflow: hidden;
		padding: 40px 0px 60px 0px;
		position: relative;
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color: rgba(25, 29, 40, 1);

		article {
			display: flex;
			flex-direction: column;
			text-align: justify;
			width: 100%;
			gap: 20px;

			p {
				padding: 0px 20px;
				text-align: justify;
				font-size: 20px;
			}
			h1 {
				font-size: 40px;
			}
		}

		aside {
			font-size: 20px;
			transform: translateX(0px);
			width: 100%;
			justify-content: space-between;

			main {
				padding-bottom: 15px;
				display: flex;
				width: 100%;
				text-align: justify;
				gap: 10px;

				img {
					width: 450px;
					height: 300px;
				}
			}

			nav {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				text-align: justify;
				gap: 10px;

				p {
					width: 90%;
				}

				section {
					display: flex;
					width: 100vw;
					flex-direction: column;
					gap: 0px;
					margin: 0 auto;

					div {
						margin: 0 auto;
						display: flex;
						gap: 20px;

						img {
							width: 48%;
							border-radius: 15px;
						}
					}
					
					.footer-images {
                        display: flex;
                        align-items: center;
                        justify-content: center;
						img {
                            margin-left: 0;
							width: 100%;
							border-radius: 0px;
						}
						
					}
				}
			}
		}
	}
    .events.open{
        padding: 200px 00px;
    }
    .events{
        .overlay{
            main{
                article{
                    aside{
                        display: flex;
                        flex-wrap: wrap-reverse;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .ourrobot{
        article{
            h1{
                margin-left: -10px;
                font-size: 80px;
            }
            p{
            font-size: 18px;
        }
            
        }
        .robotMainBar{
            div{
                align-items: center;
                h1{
                    max-width: 90%;
        
                }
                p{
                    max-width: 90%;
                }
            }
        }
    }

}
@media (max-width:650px) {
    .events {
		gap: 50px;
		.slider-item {
			width: 100%;
			height: 100%;
			.slider {
				transform: scale(0.7);
				width: 200px !important;
			}
		}
	}
    .events{
        .overlay{
            main{
                h1{
                    font-size: 30px;
                }
                article{
                }
                button{
                    margin-top: 0;
                }
            }
        }
    }
    .teampage{
        h1{
            font-size: 80px;
            align-items: center;
            justify-content: center;
        }
    }
    .ourrobot{
        p{
            text-align:justify;
        }
        aside{
            .robotMainBar{
                nav{
                    img{
                        height: 80px;
                    }
                }
            }
            .robotSideBar{
                width: 400px;
            }
        }
    }
    
}
@media (max-width: 490px) {
	.events {
		gap: 30px;

		.slider-item {
			width: 100vh;
			.slider {
				gap: 20px;
				// transform: scale(0.3);
				width: 240px;
			}
		}

		.seeAll {
			height: auto;
			a {
				margin-left: 30px;
				font-size: 35px;
				border-bottom: 2px solid #ffc71b;

				&::before {
					content: '';
					bottom: 0px;
					position: relative;
					width: 0px;
					height: 0px;
					background-color: #ffc71b;
				}
			}
		}
	}

	.aboutus {
		overflow: hidden;
		padding: 40px 0px 60px 0px;
		position: relative;
		width: 100%;
		justify-content: center;
		gap: 100px;
		text-align: justify;
		background-color: rgba(25, 29, 40, 1);

		article {
			display: flex;
			flex-direction: column;
			text-align: justify;
			width: 100%;
			gap: 20px;

			p {
				padding: 0px 20px;
				text-align: justify;
				font-size: 20px;
			}
			h1 {
				font-size: 40px;
			}
		}

		aside {
			font-size: 20px;
			transform: translateX(0px);
			width: 100%;

			justify-content: space-between;

			main {
				display: flex;
				width: 100%;
				text-align: justify;
				gap: 10px;
				

				img {
					width: 450px;
					height: 300px;
				}
			}

			nav {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				text-align: center;
				gap: 10px;

				section {
					display: flex;
					width: 100vw;
					flex-direction: column;
					gap: 0px;
					margin: 0 auto;

					div {
						margin: 0 auto;
						display: flex;
						flex-wrap: wrap;
						gap: 20px;

						img {
							width: 100%;
							border-radius: 15px;
						}
					}

					.footer-images {
						border-radius: 15px;
					}
				}
			}
		}
	}
    .eventspage{
        .event-title{
            font-size: 40px;
        }
    }
    .events{
        .overlay{
            main{
                width: 100%;
                gap: 0;
                h1{
                    font-size: 30px;
                }
                article{
                    width: 400px;
                }
                button{
                    scale: 0.7;
                }
            }
        }
    }
}
@media (max-width:450px) {
    .location{
        margin-bottom: 20px;
    }
    footer{
        article{
            h2{
                font-size:43px;
            }
            p{
                font-size: 20px;
            }
            p:last-child{
                font-size: 18px;
            }
        }
    aside{
        h2{
            font-size:43px;
        }
        div{
            scale: 0.7;
        }
    }
}
.teampage{
        h1{
            font-size: 60px;
            align-items: center;
            justify-content: center;
        }
        .teampage-card{
            scale: 0.8;
        }
    }
    .ourrobot{
        article{
            h1{
                margin-left: -10px;
                font-size: 70px;
            }
            p{
            font-size: 18px;
        }
            
        }
        .robotMainBar{
            div{
                align-items: center;
                h1{
                    max-width: 90%;
        
                }
                p{
                    max-width: 90%;
                }
            }
            nav{
                gap: 10px !important;
                img:first-child{
                    display: none;
                }
            }
        }
        .robotSideBar{
                width: 300px !important;
                p{
                    max-width: 100%;
                }
            }
    }
}
